<!DOCTYPE html>
<html lang="en">
<head>
    {% block style %}{% endblock %}
    {% load static %}
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% block title %}<title>Tunes</title>{% endblock %}
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
   <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
   integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
   crossorigin=""></script>
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/now-ui-kit.css' %}" rel="stylesheet" />

</head>

<body class="sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg static-top bg-primary">
    <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/Tunes-logo.png' %}" height="40" width="200"></a>

            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'people' %}" class="nav-link"><i class="now-ui-icons business_globe" ></i>PEOPLE</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'maps' %}" class="nav-link"><i class="now-ui-icons location_pin"></i>MAP</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                {% if request.user.is_authenticated  %}
                    <a href="#pablo" class=" btn btn-default dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink1"> {{ request.user.get_username }}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item " href="{% url 'my_profile'%}?next={{request.path}}">My Profile</a>
                        <a class="dropdown-item " href="{% url 'settings'%}?next={{request.path}}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
                    </ul>
                {% else %}
                    <a href="{% url 'login' %}" class="nav-link">Login</a>                
                {% endif %}
            </div>
        </div>
</nav>
    <!-- End Navbar -->

{% block content %}{% endblock %}

<!--   Core JS Files   -->
<script src="{% static 'js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="{% static 'js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{% static 'js/now-ui-kit.js' %}" type="text/javascript"></script>

</body>
</html>
