{% extends "base_page.html" %}

{% block content %}
{% load static %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to Tunes</h1>
    <p class="lead">Connect your Spotify account and find new friends near you today!</p>
  </div>
</div>

	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<h3><a class="main-col-head" href="people.html">People</a><h3>
					<div class="list-group">
                        {% if user %}
                            {% for u in user %}

                                <a href="{{ u.get_absolute_url }}" class="list-group-item">
        						<img src="{{ u.profile_picture.url }}" class="rounded-circle" alt="{{ u.name }}">
        						<div class="list-text">
        						<h5 class="list-group-item-heading text-primary text-left">{{ u.name }}</h5>
        						<p class="list-group-item-text text-muted text-left">{{ u.anthem }}</p>
        						</div>
        						</a>

                            {% endfor %}

                        {% else %}
                        <p>No Users :(</p>
                        {% endif %}

					</div>
			</div>
			<div class="col-md-4">
				<h3><a class="main-col-head" href="event.html">Events</a><h3>
					<div class="list-group">

                        {% if event %}
                            {% for e in event %}
                                <a href="{{ e.get_absolute_url }}" class="list-group-item">
                                <img src="{{ e.image.url }}" class="rounded-circle" alt="{{ e.name }}">
                                <div class="list-text">
                                <h5 class="list-group-item-heading text-primary text-left">{{ e.name }}</h5>
                                <p class="list-group-item-text text-muted text-left">{{ e.location }}</p>
                                </div>
                                </a>

                            {% endfor %}

                        {% else %}
                        <p>No Events :(</p>
                        {% endif %}

					</div>
			</div>
			<div class="col-md-4">
			<h3><a class="main-col-head" href="maps.html">Map</a><h3>
            {% load leaflet_tags %}

            <head>
                {% leaflet_js %}
                {% leaflet_css %}
            </head>
            <style>

            .leaflet-container {  /* all maps */
                width:  400px;
                height: 400px;
            }
            </style>
            <body>
            {% if user %}
             <script type="text/javascript">
              function map_init_basic (map, options) {
               var marker = null;
                {% for u in user %}
                    marker = new L.marker([{{u.latitude}}, {{u.longitude}}])
                    .bindPopup("<a href="+"{{ u.get_absolute_url }}"+">"+"<b>"+"{{u.name}}"+"</b>"+"</a><br>"+"Listening to: "+"{{u.current_song}}"+"<br>")
                    .addTo(map);  
                {% endfor %}
                {% for e in event %}
                    marker = new L.marker([{{e.latitude}}, {{e.longitude}}])
                    .bindPopup("<a href="+"{{ e.get_absolute_url }}"+">"+"<b>"+"{{e.name}}"+"</b>"+"</a><br>"+"{{e.start_time}}")
                    .addTo(map);  
                {% endfor %}
                 }
                </script>
            {% else %}
                <p>No Users are available.</p>
            {% endif %}
              {% leaflet_map "yourmap" callback="window.map_init_basic" %}   
            </body>
			</div>
	</div>

{% endblock %}
