{% extends "base_page.html" %}

{% block content %}
{% load static %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to Tunes</h1>
    <p class="lead">Connect your Spotify account and find new friends near you today!</p>
  </div>
</div>

	<div class="container text-center">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<h3><a class="main-col-head" href="people.html">People</a><h3>
					<div class="list-group">
                        {% if user %}
                            {% for u in user %}

                                <a href="" class="list-group-item">
        						<img src="{% static 'images/tim-richards.jpg' %}" class="rounded-circle" alt="Tim Richards">
        						<div class="list-text">
        						<h5 class="list-group-item-heading text-primary text-left">{{ u.name }}</h5>
        						<p class="list-group-item-text text-muted text-left">{{ u.anthem }}</p>
        						</div>
        						</a>

                            {% endfor %}

                        {% else %}
                        <p>No Users :(</p>
                        {% endif %}

					</div>
			</div>
			<div class="col-md-4">
				<h3><a class="main-col-head" href="event.html">Events</a><h3>
					<div class="list-group">

                        {% if event %}
                            {% for e in event %}
                                <a href="{{ e.get_absolute_url }}" class="list-group-item">
                                <img src="{% static 'images/tim-richards.jpg' %}" class="rounded-circle" alt="Tim Richards">
                                <div class="list-text">
                                <h5 class="list-group-item-heading text-primary text-left">{{ e.name }}</h5>
                                <p class="list-group-item-text text-muted text-left">{{ e.location }}</p>
                                </div>
                                </a>

                            {% endfor %}

                        {% else %}
                        <p>No Events :(</p>
                        {% endif %}

					</div>
			</div>
			<div class="col-md-4">
			<h3><a class="main-col-head" href="maps.html">Map</a><h3>
			<div id="mapid" style="width: 350px; height: 400px;" class = "home-item"></div>
			<script src = "{% static 'js/maps.js' %}">
			</script>
			</div>
			</div>
	</div>



{% endblock %}
