{% extends "base_page.html" %}

{% block content %}
{% load static %}


  {% load leaflet_tags %}
            <head>
                {% leaflet_js %}
                {% leaflet_css %}
            </head>

            <body>
            {% if user %}
             <script type="text/javascript">
              function map_init_basic (map, options) {
               var marker = null;
                {% for u in user %}
                    marker = new L.marker([{{u.latitude}}, {{u.longitude}}])
                    .bindPopup("<a href="+"{{ u.get_absolute_url }}"+">"+"<b>"+"{{u.name}}"+"</b>"+"</a><br>"+"Listening to: "+"{{u.current_song}}"+"<br>")
                    .addTo(map);  
                {% endfor %}
                {% for e in event %}
                    marker = new L.marker([{{e.latitude}}, {{e.longitude}}])
                    .bindPopup("<a href="+"{{ e.get_absolute_url }}"+">"+"<b>"+"{{e.name}}"+"</b>"+"</a><br>"+"{{e.start_time}}")
                    .addTo(map);  
                {% endfor %}
                 }
                </script>
            {% else %}
                <p>No Users are available.</p>
            {% endif %}
              {% leaflet_map "yourmap" callback="window.map_init_basic" %}   
            </body>

{% endblock %}
