{% extends "base_page.html" %}
{% block style %}
<style>
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.bottom {
    margin-top: 100px;

}

.events{
    font-size: 18px; 
}

.personal-info{
    font-size: 18px; 
}
</style>
{% endblock %}

{% block content %}
{% load static %}
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image " data-parallax="true" style="background-image: url('{{background_picture.art.url}}');"></div>
        </div>
        <!-- edit start -->
        <div class="container-fluid bg-light">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="{{logged_in_user.profile_picture.url}}" class="rounded-circle img-thumbnail" alt="Tim Richards" width="284" height="226">
                </div>
                <div class="col-md-2">
                    <h2></h2>
                    <h3><i class="now-ui-icons users_single-02"></i> {{logged_in_user.name}}</h3>
                    <a><strong> Anthem: </strong> &nbsp &nbsp {{logged_in_user.anthem}}</a></br>
                    <a><strong> From: </strong> &nbsp &nbsp {{logged_in_user.location}}</a></br>
                    <a> <strong> Followers:</strong>  &nbsp &nbsp {{num_of_followers}}</a></br>
                    <a> <strong> Following:</strong>  &nbsp &nbsp {{num_of_following}}</a></br>
                </div>
                <div class = "col-md-7">
                    <h5 class="text-center">My Favorites</h6>
                    <div class="scrollmenu">
                        {% if rotate %}
                            {% for picture in rotate %}
                                <img src="{{picture.art.url}}" alt="Blond" width =23%>
                            {% endfor %}
                        {% else %}
                            <p>No picture to rotate</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bottom">
            <div class = "row">
                <div class="col-md-3">
                    <h3 class="text-center"> Account Info</h3>
                    <div class="alert bg-dark text-white">
                        <strong>Followers: </strong> {{num_of_followers}}</br>
                        <strong>Following:</strong> {{num_of_following}}</br>
                        <strong>Primary Location:</strong> {{logged_in_user.location}}</br>
                    </div> 
                </div>
                <div class="col-md-3 personal-info">
                    <h3 class="text-center"> Personal Info</h3>
                    <div class="alert bg-dark">
                        <strong>LOCATION: </strong> &nbsp &nbsp {{logged_in_user.location}} </br>
                        <strong>HOBBIES: </strong> &nbsp &nbsp {{logged_in_user.hobbies}}</br>
                        <strong>GENRES : &nbsp</strong> 
                        {% for i in favorite_genres %}
                            {{i.name}},
                        {% endfor %}
                        </br>
                        <strong>Email :</strong> &nbsp &nbsp {{logged_in_user.email}}</br>
                        <strong>BIO : </strong> </br>{{logged_in_user.bio}} </br>
                    </div> 
                </div>
                <div class="col-md-3 events">
                    <h3 class="text-center"> Events </h3>
                    <div class="alert bg-dark text-primary">
                        <h6 align="center">Hosting</h6>
                        {% if events_hosting %}
                            {% for e in events_hosting %}
                                <strong> {{e.location}} :</strong> {{e.name}}</br>
                            {% endfor %}
                        {% else %}
                            <strong> No events hosting</strong>
                        {% endif %}
                        <h6 align="center">Attending</h6>
                        {% if events_attending %}
                            {% for e in events_attending %}
                                <strong> {{e.location}} :</strong> {{e.name}}</br>
                            {% endfor %}
                        {% else %}
                            <strong> No events attending</strong>
                        {% endif %}
                        <h6 align="center">Attended</h6>
                        {% if events_attended %}
                            {% for e in events_attended %}
                                <strong> {{e.location}} :</strong> {{e.name}}</br>
                            {% endfor %}
                        {% else %}
                            <strong> No events attended</strong>
                        {% endif %}
                    </div> 
                </div>
                <div class="col-md-3">
                    <h3 class="text-center"> Songs </h3>
                    <div class="alert bg-dark">
                        <strong>CURRENT SONG : </strong> &nbsp &nbsp {{logged_in_user.current_song.name}} </br>
                        <strong>FAVORITE SONGS : </strong></br> &nbsp 
                        {% for song in favorite_songs %}
                            {{song.name}}, 
                        {% endfor %}
                        </br>
                    </div> 
                </div>
            </div>
        </div>
        <footer class="footer">
            
        </footer> 
    -->
    </div>
</body>
{% endblock %}
