{% extends "base_page.html" %}

{% block content %}
{% load static %}

<style>
.row {
    padding-left: 215px;
}

#searchbar {
    padding-left:275px;
    padding-bottom: 25px;
}

#info {
    padding-top: 25px;
    }

.thumbnail {
    padding-top: 25px;
    }
    
#followbtn {
    color: white;
}
</style>



 
<div class="container">
	<div id=searchbar>
    <div class="col-md-9">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for People">
            <span class="input-group-addon">
                <a href="{{ u.profile.get_absolute_url }}">Search</a>
                <i class="now-ui-icons users_single-02">
                </i>
            </span>

        </div>
    </div>
    </div>

{% if user %}
{% for u in user %}
    <div class="row">
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="{{ u.profile.profile_picture.url }}" class="rounded-circle" alt="{{ u.profile.name }}">
            </div>
        </div>
        <div class="col-sm-4" id=info>
            <h6><i class="now-ui-icons users_single-02"></i><a href="{{ u.profile.get_absolute_url }}">{{ u.profile.name }}</a></h6>
            <h6>Listening to: {{ u.profile.current_song }}</h6>
            <h6>Anthem: {{ u.profile.anthem }}</h6>
            <h6>Tuning in from: {{ u.profile.location }}</h6>

        </div>
        <div class="col-md-3">
            <iframe src="https://open.spotify.com/embed/track/5cXg9IQS34FzLVdHhp7hu7" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
            <iframe src="https://open.spotify.com/embed/track/4Km5HrUvYTaSUfiSGPJeQR" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
        </div>
    </div>
    <hr>
    {% endfor %}
{% else %}
<p>No Matched Users.</p>
{% endif %}

</div>

{% endblock %}
