{% extends "base_page.html" %}

{% block content %}
{% load static %}



<div class="container">
	<div id=searchbar>
    <div class="col-md-9">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for People">
            <span class="input-group-addon">
                <i class="now-ui-icons users_single-02"></i>
            </span>
        </div>
    </div>
    </div>
    
{% if user %}
    {% for u in user %} 
    <div class="row">   
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="{{ u.profile_picture.url }}" class="rounded-circle" alt="{{ u.name }}">
            </div>
        </div>
        <div class="col-md-4">
            <h6><i class="now-ui-icons users_single-02"></i><a href="{{ u.get_absolute_url }}">{{ u.name }}</a></h6>
            <h6>Listening to: {{ u.current_song }}</h6>
            <h6>Anthem: {{ u.anthem }}</h6>
            <h6>Tuning in from: {{ u.location }}</h6>
            <button class="btn btn-primary btn-round">Unfollow</button>
        </div>
        <div class="col-md-4">
            {{ song.embed_code }} 
            {{ song.embed_code }}
        </div>   
    </div>
    <hr> 
    {% endfor %}
{% else %}
<p>No Matched Users.</p> 
{% endif %}
  
</div>

{% endblock %}