{% extends "base_page.html" %}
{% block style %}
<style>
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.bottom {
    margin-top: 100px;

}

.events{
    font-size: 18px;
}

.personal-info{
    font-size: 18px;
}
</style>
{% endblock %}

{% block content %}
{% load static %}
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image " data-parallax="true" style="background-image: url('{{background_picture.art.url}}');"></div>
        </div>
        <!-- edit start -->
        <div class="container-fluid bg-light">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src=" {{logged_in_user.profile_picture.url}} "
                    class="rounded-circle" alt="Tim Richards" width="284" height="226">
                    <div class="pic_change bg-dark text-warning">
                        <form method="post">
                            {% csrf_token %}
                            {{ profile_picture_form.as_p }}
                          <button type="submit" class="btn btn-success">Save Picture</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                    <h2></h2>
                    <h4><i class="now-ui-icons"></i> <strong> {% if logged_in_user.name %}{{logged_in_user.name}} {% else %} No Profile Name {% endif %} </strong> </h4>
                    <a><strong> Anthem: </strong> &nbsp &nbsp {% if logged_in_user.anthem %}{{logged_in_user.anthem}} {% else %} No Anthem {% endif %}</a></br>
                    <a><strong> From: </strong> &nbsp &nbsp {% if logged_in_user.location %}{{logged_in_user.location}} {% else %} No Location Available {% endif %}</a></br>
                    <a> <strong> Followers:</strong>  &nbsp &nbsp {{num_of_followers}}</a></br>
                    <a> <strong> Following:</strong>  &nbsp &nbsp {{num_of_following}}</a></br>
                </div>
                <div class = "col-md-7">
                    <h5 class="text-center">My Favorites</h6>
                    <div class="scrollmenu">
                        {% if rotate %}
                            {% for picture in rotate %}
                                <img src="{{picture.art.url}}" alt="Blond" width =23%>
                            {% endfor %}
                        {% else %}
                        <p><font color="white">No picture to rotate</font></p>
                        {% endif %}
                    </div>
                    <div class="rotation_album bg-dark text-warning">
                        <form method="post">
                          {% csrf_token %}
                          {{ profile_rotation.as_p }}
                          <button type="submit" class="btn btn-success">Update Albums</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bottom">
            <div class = "row">
                <div class="col-md-3">
                    <h3 class="text-center"> Account Info </h3>
                    <div class="alert bg-dark text-warning">
                        <form method="post">
                          {% csrf_token %}
                          {{ user_form.as_p }}
                          <button type="submit" class="btn btn-success">Save Changes</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center"> Profile Info</h3>
                    <div class="alert bg-dark text-warning">
                        <form method="post">
                          {% csrf_token %}
                          {{ profile_form.as_p }}
                          <button type="submit" class="btn btn-success">Save Changes</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3 events">
                    <h3 class="text-center"> Events </h3>
                    <div class="alert bg-dark text-primary">
                        <h6 class="text-warning" align="center">Hosting</h6>
                        {% if events_hosting %}
                            {% for e in events_hosting %}
                                <strong> {{e.location}} :</strong> {{e.name}}</br>
                            {% endfor %}
                        {% else %}
                            <strong class="text-white"> No events hosting</strong>
                        {% endif %}
                        <h6 class="text-warning" align="center">Attending</h6>
                        {% if events_attending %}
                            {% for e in events_attending %}
                                <strong> {{e.location}} :</strong> {{e.name}}</br>
                            {% endfor %}
                        {% else %}
                            <strong class="text-white"> No events attending</strong>
                        {% endif %}
                        <h6 class="text-warning" align="center">Attended</h6>
                        {% if events_attended %}
                            {% for e in events_attended %}
                                <strong> {{e.location}} :</strong> {{e.name}}</br>
                            {% endfor %}
                        {% else %}
                            <strong class="text-white"> No events attended</strong>
                        {% endif %}
                        </br>
                        </br>
                        </br>
                        </br>
                        <div class="create_event">
                            <form action="{% url 'event_create' %}">
                                <input type="submit" class="btn btn-success" value="Create Event" />
                            </form> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="text-center"> Songs </h3>
                    <div class="alert bg-dark">
                        <strong>CURRENT SONG : </strong> &nbsp &nbsp
                        {% if logged_in_user.current_song %}
                            {{logged_in_user.current_song.name}}
                        {% else %}
                            No song availble
                        {% endif %}
                        </br>
                        </br>
                        </br>
                        <div class="cur_song text-warning">
                            <form method="post">
                              {% csrf_token %}
                              {{ profile_current_song.as_p }}
                              <button type="submit" class="btn btn-success">Update Song</button>
                            </form>
                        </div>
                        </br>

                        <strong>FAVORITE SONGS : </strong> &nbsp
                        {% if favorite_songs %}
                            {% for song in favorite_songs %}
                                {{song.name}},
                            {% endfor %}
                        {% else %}
                            No favorite song availble
                        {% endif %}
                        </br>
                        </br>
                        </br>
                        <div class="fav_song text-warning">
                            <form method="post">
                              {% csrf_token %}
                              {{ profile_favorite_songs.as_p }}
                              <button type="submit" class="btn btn-success">Update Songs</button>
                            </form>
                        </div>
                        </br>

                        <strong>FAVORITE GENRES : &nbsp</strong>
                        {% if favorite_genres %}
                            {% for i in favorite_genres %}
                                {{i.name}},
                            {% endfor %}
                        {% else %}
                            No Genres Available
                        {% endif %}
                        </br>
                        </br>
                        </br>
                        <div class="fav_genre text-warning">
                            <form method="post">
                              {% csrf_token %}
                              {{ profile_favorite_genres.as_p }}
                              <button type="submit" class="btn btn-success">Update Genres</button>
                            </form>
                        </div>
                        </br>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">

        </footer>
    </div>
</body>
{% endblock %}
