{% extends "base_page.html" %}

{% block content %}
{% load static %}
{% load staticfiles %}

{% block title %}<title>{{ user.name }}</title>{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
     <style>
        div.scrollmenu {
            background-color: #333;
            overflow: auto;
            white-space: nowrap;
        }
        div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
        }
        div.scrollmenu a:hover {
            background-color: #777;
        }



    </style>
</head>

<div class="container">

    <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-2">
            <div alginclass="thumbnail">
                <img src="{{ profile.profile_picture.url }}" class="rounded-circle" alt="{{ profile.name }}">
            </div>
        </div>

        <div class="col-md-5"?>
            <h2></h2>
            <h3 align="left"><i class="now-ui-icons users_single-02"></i> "{{ profile.name }}"</h3>
            <h6 align="left">Anthem: {{ profile.anthem }}</h6>
            <h6 align="left">Tuning in from: {{ profile.location }}<h6/>
            <p align="left"><button class="btn btn-primary">Tune in</button></p>
        </div>

        <div class="col-md-3">
        </div>

    </div>

</div>


    <div class="row">

        <div class="col-md-1">
        </div>

        <div class="col-md-10">
       	    {% if profile.rotation %}
                <h2 class="text-center">In rotation</h2>
                    <div class="scrollmenu">
                        {% for album in profile.rotation.all %}
                            <img src={{ album.art.url }} alt={{ album.art.url }} width =23%>
                        {% endfor %}
                    </div>
            {% else %}
                <h2 class="text-center">Nothing in rotation yet</h2>
		    {% endif %}
        </div>

        <div class="col-md-1">
        </div>

    </div>




    <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-10">
            <h1></h1>
                {% if profile.playlists %}
                    <h2 class="text-center">My playlists</h2>
                        <div class="scrollmenu">
                            {% for playlist in profile.playlists.all %}

                            {% endfor %}
                                <iframe src="https://open.spotify.com/embed?uri=spotify:user:spotifycharts:playlist:37i9dQZEVXbKuaTI1Z1Afx" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                                <iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX0XUsuxWHRQd" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                                <iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DXcBWIGoYBM5M" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                                <iframe src="https://open.spotify.com/embed?uri=spotify:user:129620582:playlist:0FThqYz4rxjsKJZDsYNfQP" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                {% endif %}
        </div>

        <div class="col-md-1">
        </div>

    </div>



    <div class="row">

        <div class="col-md-1">
        </div>

        <div class="col-md-10">
            <h1></h1>
            <h3 class="text-center">Bio </h1>
            <p class ="text-center">{{ profile.bio }}
        </div>

        <div class="col-md-1">
        </div>

    </div>




    <div class="row">

        <div class="col-md-1">
        </div>

        <div class="col-md-10">
            <h1></h1>
            <h3 class="text-center">Events </h1>
                <div class="list-group">
                    {% for event in profile.events_attending.all %}
                        <a href="{{ event.get_absolute_url }}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ profile.name }} is going to {{ event.name }}</h4>
                        <p class="list-group-item-text">Location:
                        {{ event.location }}</p>
                        </a>
                    {% endfor %}
                </div>
        </div>

        <div class="col-md-1">
        </div>

    </div>



    <style>

        .list-group{
 position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;}

    </style>



{% endblock %}
